<!-- Formulário de Cadastro -->
<div *ngIf="showCadastroForm" class="overlay">
    <div class="cadastro-form">
        <h2>Cadastre-se</h2>
        <form [formGroup]="formCadastro" (ngSubmit)="submitCadastroForm()">
            <div class="textfield">
                <label for="nome">Nome</label>
                <input type="text" placeholder="Nome" formControlName="nome" name="nome">
            </div>
            <div class="textfield">
                <label for="login">Login</label>
                <input type="text" placeholder="Login" formControlName="login" name="login">
            </div>
            <div class="textfield">
                <label for="email">Email</label>
                <input type="email" placeholder="Email" formControlName="email" name="email">
            </div>
            <div class="textfield">
                <label for="senha">Senha</label>
                <input type="password" placeholder="Senha" formControlName="senha" name="senha">
            </div>
            <div class="textfield">
                <label for="tipoUsuario">Tipo de Usuário</label>
                <select formControlName="tipoUsuario" name="tipoUsuario">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
            </div>
            <button type="submit" class="button-cadastrar">Cadastrar</button>
            <button type="button" class="button-sair" (click)="toggleCadastroForm()">Sair</button>
        </form>
    </div>
</div>
