<div class="container">
    <app-nav-bar></app-nav-bar>


    <div class="main-login">
        <div class="card-login">
            <div class="textfield">
                <label for="usuario">Usuário</label>
                <input type="text" placeholder="E-mail" name="usuario">
            </div>
            <div class="textfield">
                <label for="senha">Senha</label>

                <input type="password" placeholder="Senha" name="senha">
            </div>
            <button class="button-login">Login</button>
                <div class="dividir">
                    <div></div>
                    <span>or</span>
                    <div></div>
                </div>
            <button class="button-cadastrar">Cadastre-se</button>
        </div>
    </div>

</div>