/* Estilos para a Navbar */

body {
    padding-top: 64px; /* Ajuste este valor conforme a altura da sua navbar */
}

.mat-toolbar {
    background-color: #F9CF38;
    color: #003A69;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    user-select: none;
    position: fixed; /* Adiciona a posição fixa */
    top: 0; /* Posiciona no topo da página */
    width: 100%; /* Garante que a navbar se estenda por toda a largura da página */
    z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
}

.mat-toolbar span {
    position: relative;
    color: #FFFFFF; /* Cor do texto branca */
}

.mat-toolbar span::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #003A69; /* Cor da borda igual à cor da barra */
    border-bottom-left-radius: 50%; /* Borda arredondada apenas na parte inferior esquerda */
    border-bottom-right-radius: 50%; /* Borda arredondada apenas na parte inferior direita */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Faz com que a borda fique atrás do texto */
    visibility: hidden; /* Esconde o pseudo-elemento por padrão */
}

.mat-toolbar span.active::before {
    height: 80px;
    width: 80px;
    visibility: visible;
    background-color: #003A69;
}
