/* styles.css */

/* Estilos para a Navbar */

body {
    padding-top: 64px; /* Ajuste este valor conforme a altura da sua navbar */
}

.mat-toolbar {
    background-color: #F9CF38;
    color: #003A69;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    user-select: none;
    position: fixed; /* Adiciona a posição fixa */
    top: 0; /* Posiciona no topo da página */
    width: 100%; /* Garante que a navbar se estenda por toda a largura da página */
    z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
}

.mat-toolbar span {
    position: relative;
}

.mat-toolbar span::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background-color: blue;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.mat-toolbar span.active::after {
    width: auto;
}
