.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.navbar a:hover {
    color: #ddd;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%; /* Define a largura máxima para evitar transbordamento */
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal se houver transbordamento */
    height: calc(100vh - 60px);
    padding-top: 60px;
    background-image: url('/assets/img/fundo.png');
    background-size: cover;
}

.left-side {
    margin: 10px 10px 0 20px;
    flex: 2;
    overflow: auto;
}

.right-side {
    margin: 10px 20px 0 10px;
    flex: 1;
    overflow: auto; /* Adiciona barra de rolagem quando o conteúdo ultrapassa a altura */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos na horizontal */
}

.right-side mat-card {
    min-height: 88vh;
    max-height: 88vh;
    width: 100%; /* Define a largura do mat-card para ocupar todo o espaço disponível */
    max-width: 600px; /* Define um valor máximo para a largura do mat-card */
    box-sizing: border-box; /* Garante que a largura total do mat-card inclua padding e borda.s */
    overflow-y: auto;
}

.mat-card-title {
    width: 100%;
    color: #F9CF38;
    background-color: rgb(1, 1, 116);
    border-radius: 20px;
    padding: 13px 40px;
    width: 290px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
}


.materias-container,
.mat-card-footer {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin: 59px 5px;
}

.mat-card {
    height: auto;
    max-height: 90vh;
    background-color: #F6E086;
    padding: 0 15px;
}

.btn-voltar{
    background-color: rgb(1, 1, 116);
    color: #F9CF38;
    border: none;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn-tema{
    background-color: #F9CF38;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn-tema:hover,
.btn-voltar:hover {
    background-color: rgb(92, 92, 242);
    color: white;
}

.btn-tema:focus,
.btn-voltar:hover {
    background-color: rgb(0, 0, 255);
    color: white;
    outline: none;
}

button {
    width: 100%;
}

mat-card-header {
    display: flex;
    justify-content: center;
    color: #003A69;
    margin: 18px 0 !important;
}

mat-card-content{
    margin-bottom: 16px !important;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 80vh;
    max-height: 80vh;
}

.ano {
    background-color: #ebc747;
    border-radius: 20px;
    padding: 3px 15px;
    margin-bottom: 10px;
    width: 270px;
    margin: 5px auto;
    font-size: 10px;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 180px; /* ou outro tamanho desejado */
  }
  
  .iframe-tarefa {
    margin-left: 5px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    border: none;
  }
  
  .iframe-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width:80%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* transparente */
    cursor: pointer;
  }

  .example-button-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .styled-button {
    background-color: #1976d2;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    width: 150px;
    font-size: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: background-color 0.3s ease;
  }
  
  .styled-button:hover {
    background-color: #125a9c;
  }
  
  .materias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os itens */
}

/* Ajuste para os componentes app-apresentador-tarefa */
.app-apresentador-tarefa {
    max-width: 90%; /* Largura máxima para responsividade */
    margin-bottom: 20px; /* Espaçamento vertical entre os componentes */
}
