<app-nav-bar></app-nav-bar>

<div class="container">

    <!-- CKEditor no lado esquerdo -->
    <div class="left-side">
        <ckeditor [editor]="Editor" data="{{dadosCkEditor}}" (change)="onChange($event)"></ckeditor>
    </div>
   
    <!-- Card no lado direito -->
    <div class="right-side">
       <div class="card">
        <mat-card>
            <mat-card-header>
               <mat-card-title>Matérias</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="materias-container" *ngFor="let materia of materias">
                    <button class="btn-tema" mat-raised-button (click)="toggleAnos(materia)">{{materia.nome}}</button>
                    <div *ngIf="materia.aberto" class="anos-container">
                        <div class="ano" *ngFor="let ano of materia.anos">
                            <button mat-button>{{ano}}</button>
                        </div>    
                    </div>
                </div>
            </mat-card-content>
           </mat-card>
       </div>
    </div>
</div>
